## Detección de descripción en inglés

In [1]:
import pandas as pd
import numpy as np

In [8]:
movie_df = pd.read_csv('movies__Anna_traducido.csv')
movie_df.drop('Unnamed: 0', axis=1, inplace=True)
#movie_df.drop('Unnamed: 0.1', axis=1, inplace=True)
movie_df

,Unnamed: 0.1,titulo,link,descripcion,idioma,traduccion
0,0,Apocalypse Now,https://www.imdb.com/title/tt0078788/?ref_=adv...,Un oficial del ejército estadounidense que sir...,es,'Un oficial del ejército estadounidense que si...
1,1,El lago azul,https://www.imdb.com/title/tt0080453/?ref_=adv...,"En la época victoriana, dos niños naufragan en...",es,"'En la época victoriana, dos niños naufragan e..."
2,2,"Alien, el octavo pasajero",https://www.imdb.com/title/tt0078748/?ref_=adv...,La tripulación de una nave espacial comercial ...,es,'La tripulación de una nave espacial comercial...
3,3,El resplandor,https://www.imdb.com/title/tt0081505/?ref_=adv...,Una familia se dirige a un hotel aislado para ...,es,'Una familia se dirige a un hotel aislado para...
4,4,El Imperio contraataca,https://www.imdb.com/title/tt0080684/?ref_=adv...,Tras ser brutalmente dominados los rebeldes po...,es,'Tras ser brutalmente dominados los rebeldes p...
...,...,...,...,...,...,...
110408,71,Loving Adults,https://www.imdb.com/title/tt14592948/?ref_=ad...,Follows a couple who appear to be living the p...,en,'Cuando un grupo de Urban Explores tiene la op...
110409,72,Terror Toons 4,https://www.imdb.com/title/tt4130510/?ref_=adv...,"Anthology based on the original Terror Toons, ...",en,NaN
110410,73,Bizarre Again,https://www.imdb.com/title/tt13317068/?ref_=ad...,From the confined universe of Brooklyns BIZARR...,en,NaN
110411,74,Graphic Designs,https://www.imdb.com/title/tt13452544/?ref_=ad...,When reclusive Franklin cheats on his partner ...,en,NaN
110412,75,Night Explorers: The Asylum,https://www.imdb.com/title/tt14088788/?ref_=ad...,When a group of Urban Explores get the chance ...,en,NaN

In [9]:
#dejamos caer las filas que contienen valores nulos
movie_df.dropna(subset = ["traduccion"], inplace=True)
#dejamos caer las columnas que contienen los datos que no vamos a usar
movie_df.drop(["descripcion","idioma"], inplace=True, axis=1)
movie_df

,Unnamed: 0.1,titulo,link,traduccion
0,0,Apocalypse Now,https://www.imdb.com/title/tt0078788/?ref_=adv...,'Un oficial del ejército estadounidense que si...
1,1,El lago azul,https://www.imdb.com/title/tt0080453/?ref_=adv...,"'En la época victoriana, dos niños naufragan e..."
2,2,"Alien, el octavo pasajero",https://www.imdb.com/title/tt0078748/?ref_=adv...,'La tripulación de una nave espacial comercial...
3,3,El resplandor,https://www.imdb.com/title/tt0081505/?ref_=adv...,'Una familia se dirige a un hotel aislado para...
4,4,El Imperio contraataca,https://www.imdb.com/title/tt0080684/?ref_=adv...,'Tras ser brutalmente dominados los rebeldes p...
...,...,...,...,...
110404,67,Victims,https://www.imdb.com/title/tt11084502/?ref_=ad...,'Sigue a una pareja que parece estar viviendo...
110405,68,Tell Me About Your Darkness,https://www.imdb.com/title/tt18246312/?ref_=ad...,'Antología basada en los Terror Toons original...
110406,69,Father of Nations,https://www.imdb.com/title/tt6798690/?ref_=adv...,'Desde el universo confinado del cabaret BIZAR...
110407,70,Ingen kender dagen,https://www.imdb.com/title/tt15310458/?ref_=ad...,'Cuando el solitario Franklin engaña a su pare...
110408,71,Loving Adults,https://www.imdb.com/title/tt14592948/?ref_=ad...,'Cuando un grupo de Urban Explores tiene la op...

In [10]:
%%time

# detectamos la traducción que ha quedado en inglés

from langdetect import detect

lang = []    
    
for index, row in movie_df['traduccion'].iteritems():
    movie_df['traduccion'] = movie_df['traduccion'].apply(str)
    try:
        lang = detect(row) #detecting each row
    except:
        lang = "error"
    movie_df.loc[index, 'traduccion_idioma'] = lang

movie_df

Wall time: 1h 15min 23s

,Unnamed: 0.1,titulo,link,traduccion,traduccion_idioma
0,0,Apocalypse Now,https://www.imdb.com/title/tt0078788/?ref_=adv...,'Un oficial del ejército estadounidense que si...,es
1,1,El lago azul,https://www.imdb.com/title/tt0080453/?ref_=adv...,"'En la época victoriana, dos niños naufragan e...",es
2,2,"Alien, el octavo pasajero",https://www.imdb.com/title/tt0078748/?ref_=adv...,'La tripulación de una nave espacial comercial...,es
3,3,El resplandor,https://www.imdb.com/title/tt0081505/?ref_=adv...,'Una familia se dirige a un hotel aislado para...,es
4,4,El Imperio contraataca,https://www.imdb.com/title/tt0080684/?ref_=adv...,'Tras ser brutalmente dominados los rebeldes p...,es
...,...,...,...,...,...
110404,67,Victims,https://www.imdb.com/title/tt11084502/?ref_=ad...,'Sigue a una pareja que parece estar viviendo...,es
110405,68,Tell Me About Your Darkness,https://www.imdb.com/title/tt18246312/?ref_=ad...,'Antología basada en los Terror Toons original...,es
110406,69,Father of Nations,https://www.imdb.com/title/tt6798690/?ref_=adv...,'Desde el universo confinado del cabaret BIZAR...,es
110407,70,Ingen kender dagen,https://www.imdb.com/title/tt15310458/?ref_=ad...,'Cuando el solitario Franklin engaña a su pare...,es
110408,71,Loving Adults,https://www.imdb.com/title/tt14592948/?ref_=ad...,'Cuando un grupo de Urban Explores tiene la op...,es

In [16]:
#películas con la descripción en ingles
movie_df.loc[movie_df['traduccion_idioma'] == 'en']

,Unnamed: 0.1,titulo,link,traduccion,traduccion_idioma
38,38,Mi guardaespaldas,https://www.imdb.com/title/tt0081207/?ref_=adv...,'When a boy comes to a new school and gets har...,en
47,47,La bestia bajo el asfalto,https://www.imdb.com/title/tt0080354/?ref_=adv...,'A pet baby alligator is flushed down a toilet...,en
51,51,Jesús: el hombre que usted creía conocer,https://www.imdb.com/title/tt0079368/?ref_=adv...,'Filmed on location in Israel at authentic bib...,en
60,60,Llama un extraño,https://www.imdb.com/title/tt0080130/?ref_=adv...,'A psychopathic killer terrorizes a babysitter...,en
65,65,Los perros de la guerra,https://www.imdb.com/title/tt0080641/?ref_=adv...,"'Mercenary James Shannon, on a reconnaissance ...",en
...,...,...,...,...,...
108949,72,Pelli Parugu,https://www.imdb.com/title/tt16764106/?ref_=ad...,'Under wraps',en
109330,16,Spinning Gold,https://www.imdb.com/title/tt2071590/?ref_=adv...,'When Life Changes Directions on You',en
109826,87,Brightlingsea Film,https://www.imdb.com/title/tt15612788/?ref_=ad...,"'Lose your heart to the court, or Lose your li...",en
109869,18,Shakespeare,https://www.imdb.com/title/tt13470640/?ref_=ad...,'The Filmmaker is a Single Character-based Lar...,en
110400,63,Pulcinella,https://www.imdb.com/title/tt14117392/?ref_=ad...,'Un thriller psicológico',en

In [17]:
#películas donde no se ha podido detectar el idioma
movie_df.loc[movie_df['traduccion_idioma'] == 'error']

,Unnamed: 0.1,titulo,link,traduccion,traduccion_idioma
45822,20,Agoraphobia,https://www.imdb.com/title/tt3470656/?ref_=adv...,'👌👌👌👌👌👌👌',error

In [21]:
#dejamos caer las columnas que contienen los datos que no vamos a usar
movie_df.drop('Unnamed: 0.1', axis=1, inplace=True)
#dejamos caer las filas que contienen inglés y error
movie_df = movie_df[movie_df.traduccion_idioma != 'en']
movie_df = movie_df[movie_df.traduccion_idioma != 'error']
movie_df

,titulo,link,traduccion,traduccion_idioma
0,Apocalypse Now,https://www.imdb.com/title/tt0078788/?ref_=adv...,'Un oficial del ejército estadounidense que si...,es
1,El lago azul,https://www.imdb.com/title/tt0080453/?ref_=adv...,"'En la época victoriana, dos niños naufragan e...",es
2,"Alien, el octavo pasajero",https://www.imdb.com/title/tt0078748/?ref_=adv...,'La tripulación de una nave espacial comercial...,es
3,El resplandor,https://www.imdb.com/title/tt0081505/?ref_=adv...,'Una familia se dirige a un hotel aislado para...,es
4,El Imperio contraataca,https://www.imdb.com/title/tt0080684/?ref_=adv...,'Tras ser brutalmente dominados los rebeldes p...,es
...,...,...,...,...
110404,Victims,https://www.imdb.com/title/tt11084502/?ref_=ad...,'Sigue a una pareja que parece estar viviendo...,es
110405,Tell Me About Your Darkness,https://www.imdb.com/title/tt18246312/?ref_=ad...,'Antología basada en los Terror Toons original...,es
110406,Father of Nations,https://www.imdb.com/title/tt6798690/?ref_=adv...,'Desde el universo confinado del cabaret BIZAR...,es
110407,Ingen kender dagen,https://www.imdb.com/title/tt15310458/?ref_=ad...,'Cuando el solitario Franklin engaña a su pare...,es
110408,Loving Adults,https://www.imdb.com/title/tt14592948/?ref_=ad...,'Cuando un grupo de Urban Explores tiene la op...,es

In [25]:
# guardamos el dataset limpio
movie_df.to_csv('movies_final_Anna.csv', encoding='utf-8-sig')

### Juntamos tres datasets y analizamos los datos

In [3]:
import glob 
import os

In [9]:
# establecemos la ruta para unir varios archivos
files = os.path.join("movies_final_*.csv")
# lista de archivos combinados
files = glob.glob(files)
# unimos archivos con concat y read_csv
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
# eliminamos columna Unnamed: 0 para que no aparezca la numeración individual de cada archivo
df.drop('Unnamed: 0', axis=1, inplace=True)
# guardamos el archivo conjunto
#df.to_csv('movies_final_all.csv', encoding='utf-8-sig')

In [15]:
# analizamos la columna descripcion_idioma
df_detect_lang = df.groupby(['traduccion_idioma']).size().sort_values(ascending=False)
df_detect_lang

traduccion_idioma
es    247528
pt       406
de       332
ca       211
hu       176
fr       169
it       162
id        75
so        39
no        25
tl        15
nl        15
fi        14
sv        12
ro        10
af         7
sw         6
da         6
lt         5
sl         4
tr         3
vi         3
sk         3
et         3
cy         2
pl         1
hr         1
lv         1
dtype: int64

In [24]:
# como hemos detectado más idiomas en el dataset, creamos uno nuevo solamente con descripciones en español
movies_final = df.loc[df['traduccion_idioma'] == 'es']
# eliminamos películas sin descripción
movies_final = movies_final[movies_final.traduccion != "'Sin descripción'"]
movies_final.shape

(247146, 4)

In [26]:
# guardamos el archivo
movies_final.to_csv('movies_final_all.csv', encoding='utf-8-sig')

In [31]:
movies_final.loc[movies_final['traduccion'] == "'Sin descripción'"]

Empty DataFrame
Columns: [titulo, link, traduccion, traduccion_idioma]
Index: []